| {% set image = record.attachments.get(this.image) %}
.page-banner(class='page-banner-{{ this.height }}', style='background-image: url({{ image|url }})')
| {% if this.contents %}
| {{ this.contents }}
| {% endif %}
