.text-block(class='text-block-{{ this.class }}')
	section.mbr-section
		.mbr-section__container.container.mbr-section__container
			.mbr-header.mbr-header--wysiwyg.row
				.col-sm-8.col-sm-offset-2
					p
						| {{ this.text }}
