| {% extends "page.html" %}

| {% block style %}
style.
	h2 {
		margin-top: 3ex;
	}
	h2 .version {
		font-size: small;
		margin-left: 1ex;
		vertical-align: top;
	}
	
	.icon {
		height: 28px;
		width: 28px;
		vertical-align: middle;
	}
	.lab {
	    vertical-align: middle;
	    margin-left: 10px;
	}
	.packages {
		margin: 20px 0;
	}
	.download {
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	}
	.download:hover {
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
		background-color: #F3F3F3;
	}
| {% endblock %}

| {% block page_section %}
| {% set versions = bag('download-versions') %}
| {% set flamenco_manager = versions["flamenco-manager"] %}
| {% set flamenco_worker = versions["flamenco-worker"] %}

.row
	.col-md-8.col-md-offset-2

		h2 Flamenco Manager
			span.version {{ flamenco_manager }}

		.row.packages
			.col-md-4
				a(href="flamenco-manager-{{ flamenco_manager }}-linux.tar.gz" class="btn btn-default btn-block").download
					img.icon(src='../images/platform-linux.svg',alt='Linux')
					span.lab Linux package
			.col-md-4
				a(href="flamenco-manager-{{ flamenco_manager }}-windows.zip" class="btn btn-default btn-block").download
					img.icon(src='../images/platform-windows.svg',alt='Windows')
					span.lab Windows package
			.col-md-4
				a(href="flamenco-manager-{{ flamenco_manager }}-darwin.zip" class="btn btn-default btn-block").download
					img.icon(src='../images/platform-macos.svg',alt='macOS')
					span.lab macOS package

		ul
			li
				a(href='https://github.com/armadillica/flamenco-manager-go/blob/v{{ flamenco_manager }}/CHANGELOG.md') Changelog
				=' of Flamenco Manager'
			li
				a(href="flamenco-manager-{{ flamenco_manager }}.sha256") SHA256&nbsp;checksums
				=' of the above binaries'
			li
				a(href="https://github.com/armadillica/flamenco-manager-go/") Sources
				=' at GitHub.'

		h2 Flamenco Worker
			span.version {{ flamenco_worker }}

		.row.packages
			.col-md-4
				a(href="flamenco-worker-{{ flamenco_worker }}-linux.tar.gz" class="btn btn-default btn-block").download
					img.icon(src='../images/platform-linux.svg',alt='Linux')
					span.lab Linux package
			.col-md-4
				a(href="flamenco-worker-{{ flamenco_worker }}-windows.zip" class="btn btn-default btn-block").download
					img.icon(src='../images/platform-windows.svg',alt='Windows')
					span.lab Windows package
			.col-md-4
				a(href="flamenco-worker-{{ flamenco_worker }}-darwin.tar.gz" class="btn btn-default btn-block").download
					img.icon(src='../images/platform-macos.svg',alt='macOS')
					span.lab macOS package

		ul
			li
				a(href="https://github.com/armadillica/flamenco-worker-python/blob/v{{ flamenco_worker }}/CHANGELOG.md") Changelog
				=' of Flamenco Worker'
			li
				a(href="flamenco-worker-{{ flamenco_worker }}.sha256") SHA256&nbsp;checksum
				=' of the above Cross-platform Python package'
			li
				a(href="https://github.com/armadillica/flamenco-worker-python/") Sources
				=' at GitHub.'

| {% endblock %}
