| {% extends "layout.html" %}
| {% block title %}{{ this.title }}{% endblock %}
| {% block body %}
.start-jumbo
	h1 Free and Open Source Render Manager
	p.lead
		| Take control of your computing infrastructure and get things done.
		br
		| Flamenco is used in production at Blender Institute.
section.page-section
	.container
		.row
			.col-md-6
				h3 Render Farm management
				| Flamenco is suitable as render farm management software, for tasks such as frames rendering, encoding, simulations, ect. It supports any Blender version, hardware configuration and any other software with a command line interface.

			.col-md-6
				h3 Available on Blender Cloud
				| Available as a <a href="https://cloud.blender.org/services">service on Blender Cloud</a>, Flamenco can leverage your local rendering network and at the same time manage an exterenal render network on the Cloud. 
		.row
			.col-md-6
				h3 Web-based, cross platform
				| Flamenco consists in a stack of Python and Go web application, therefore it can run on many platforms and it is accessible to the user via web browser.
			.col-md-6
				h3 Extensible architecture
				| Based on a direct server-client interaction, Flamenco is very easy to setup, start, stop and monitor. Technical details about the design are available in the docs.
		.row
			.col-md-6
				h3 Free software
				| Released under GPL 2.0, every component of Flamenco is Free and Open Source software. We use Python, Go, MongoDB and host the sources on <a href="https://developer.blender.org/project/view/58/">developer.blender.org</a>
			.col-md-6
				h3 In development
				| Currently Flamenco is under development and requires some technical knowledge to be set up. Check out #[a(href='/docs') the docs] for more information or #[a(href='https://blender.chat/channel/flamenco') come chat with us]!
| {% endblock %}
