<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Download
                <small>Warning, this is an alpha release!</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <p>You can download flamenco here, or checkout the github repo and stay up to date! To check out the repo simply:</p>
            <pre>git clone http://github.com/fsiddi/flamenco</pre>
            <a href="http://github.com/fsiddi/flamenco" class="btn btn-default btn-lg">View Github repo</a>
            <a href="http://github.com/fsiddi/flamenco" class="btn btn-default btn-lg">Download flamenco 2.0alpha</a>
        </div>
    </div>
</div>
<!-- /.container -->
