<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Features
                <small>Quick overview</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/img/features_browsers.jpg" class="img-responsive">
            <h3>Web-based, cross platform</h3>
            <p>flamenco consists in a Python web application, therefore it can run on many platforms and it is accessible to the user via web browser.</p>
        </div>
        <div class="col-sm-4">
            <img src="/assets/img/features_architecture.jpg" class="img-responsive">
            <h3>Extensible architecture</h3>
            <p>Based on a direct server-client interaction, flamenco is very easy to setup, start, stop and monitor. Technical details about the design are available in the docs.</p>
        </div>
        <div class="col-sm-4">
            <img src="/assets/img/features_gpl.jpg" class="img-responsive">
            <h3>Free Software</h3>
            <p>flamenco is free software, released under GPL 2.0. This means you are free to use it for your projects, modify it, and eventually contribute to its development.</p>
        </div>
    </div>
</div>
<!-- /.container -->
